body {
    margin: 0;

    background-image: url("images/Background_three.jpg");
    background-attachment: fixed;
    background-size: cover;

    /*template*/
    color: white;
}

body > div {
    margin: 15vh 5vw 15vh 5vw;
    padding-left: 1vh;
    padding-right: 1vh;

    background-color: rgba(0, 0, 0, 0.5);
    max-width: 90vw;
    border-radius: 2vw;
}

body > div > div {
    font-size: 1vw;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1vh;
    margin-right: 3vh;
    margin-left: 3vh;
}

nav > div {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    border-radius: 1vh;
}

nav > div:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.marked {
    box-shadow: 0 0 10px  white;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
    color: black;
}
header {
    font-size: 300%;
}

#give_me_your_shoulders {
    display: grid;
}

#now_not_yet {
    display: grid;
}

.best {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 2vw;

    margin: 5vw 2vw;
}

article {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5 1fr);
}

.show_hover,
.show_not_hover {
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
}

img {
    height: 500px;
    width: 500px;
}