/*FONTS
font-family: 'Bungee Outline';
font-family: 'Barlow Condensed';
font-family: 'Gloria Hallelujah', cursive;
*/

:root {
    --font_sizes_desktop: 1vw;
} 


body {
    margin: 0;

    background-image: url("images/Background_three.jpg");
    background-attachment: fixed;
    background-size: cover;

    /*template_______________________________________*/
    color: white;
}

/*BACK TRANSPARENT _______________________________________*/
body > div {
    margin: 15vh 5vw 15vh 5vw;
    padding-left: 1vh;
    padding-right: 1vh;

    background-color: rgba(0, 0, 0, 0.5);
    max-width: 90vw;
    border-radius: 2vw;
}

/*FONT ATTRIBUTE_______________________________________*/
/* body > div > div {
    font-size: var(--font_sizes_desktop);
} */

header {
    /* font-size: 300%; */
    padding-left: 15px;
    font-family: 'Gloria Hallelujah', cursive; 
    }

/*NAV START_______________________________________*/
nav {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-right: 3vw;
    margin-left: 3vw;
}

nav > div {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-family: 'Barlow Condensed';
    /* font-size: 200%; */

    padding: 20px;
    text-align: center;
    flex-grow: 1;
    border-radius: 1vw;
}

nav > div:nth-child(1):hover,
nav > div:nth-child(3):hover,
nav > div:nth-child(4):hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.marked {
    box-shadow: 0 0 10px  white;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
    color: black;
}
/*NAV END_______________________________________*/

#give_me_your_shoulders, 
#now_not_yet {
    display: grid;
}

.best {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 2vw;

    margin: 5vw 2vw;
}

article {
    grid-template-columns: repeat(5, 1fr);
    padding: 1vw;

    font-family: 'Barlow Condensed';
}

/* NR 1 ALBUM - NOW NOT YET ___________________________ */
/* #now_not_yet {
    position: relative;
} 
#now_not_yet > .album_data::before {
    background-image: url('images/number-1-icon.png');
    background-size: 100%;
    display: inline-block;
    width: 5vw; 
    height: 5vw;
    content:"";

    position: absolute;
    z-index: 2;
    left: -20px;
    top: -10px;
} */

#now_not_yet > .album_data > div {
    position: relative;
}
#now_not_yet > .album_data > div > h1::before {
    background-image: url('images/number-1-icon.png');
    background-size: 100%;
    display: inline-block;
    width: 5vw; 
    height: 5vw;
    content:"";

    position: absolute;
    top: -10px;
    left: -30px;
}

/* ALBUM DATA _______________________________________ */
.album_data {
    padding: 10px;
}

.album_data > div > h1 {
    font-family: 'Gloria Hallelujah', cursive;
    /* font-size: 250%; */
    margin: 0;
}

.album_data > div > h2 {
    /* font-size: 250%; */
    font-weight: 1000;
    margin: 0 0 4vw;
}

/* .album_data > div:nth-child(2),
.album_description {
    font-size: 150%;
} */

.album_data > div:nth-child(2) > ul {
    list-style: none;
    margin: 0 0 4vw 0;
}

.album_data > div:nth-child(2) > p {
    margin: 0;
}

/* ALBUM DESCRIPTION_______________________________________ */

.album_description {
    margin-right: 1vw;
}

/*IMAGES_______________________________________*/
.cover {
    grid-column: 4 / span 2;
    grid-row: 1;
    position: relative;
}

.cover > img {
    border-radius: 1vw 1vw 0 0;
    margin-bottom: 10px;
}

/* HOVER ATTRIBUTES ON IMG _______________________________________*/
.show_not_hover {
    transition-property: opacity;
    transition-duration: 1s;
    position: relative;
}
.show_not_hover:hover {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

.show_hover {
    position: absolute;
    right: 0;
}

img {
    width: 100%;
}
/* SONG LIST _______________________________________*/
.song_list > div {
    border-radius: 0 0 1vw 1vw;
    padding: 10px 10px 10px 1.5vw;

    display: flex;
    flex-direction: column;
    height: 15vw;
}

.song_list > div > ul {
    margin: 5px 0 0 0;
    padding-left: 0;
    list-style: none;
}

.song_list > div > h2 {
    margin-bottom: 0;
}
/* GRID POSITIONS _______________________________________*/
.song_list {
    grid-column: 4 / span 2;
    grid-row: 2;  
    column-count: 2;
}

.album_data,
.album_description {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}
    
.anecdotes {
    grid-column: 1 / span 5;
    grid-row: 5;

    padding-left: 0;
    display: flex;
    gap: 10px;
    /* height: 20vw; */

    /* font-size: 120%; */
}

.anecdotes li {
    padding: 15px;
    list-style: none;
}

.top_right_90,
.bottom_left_90,
.top_left_90,
.bottom_right_90 {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* BOXES FLEX _______________________________________*/
.top_right_90 {
    width: 16.5%;
    border-radius: 4vh 0 4vh 4vh;
}

.bottom_left_90 {
    border-radius: 4vh 4vh 4vh 0;
}

.top_left_90 {
    width: 16.5%;
    border-radius: 0 4vh 4vh 4vh;
}

.bottom_right_90 {
    width: 16.5%;
    border-radius: 4vh 4vh 0 4vh;
}

.two_wide {
    width: 33%;
}

.empty {
    width: 16.5%;
}

.phone_empty,
.tablet_empty {
    display: none;
}
/* ANECDOTES COLOR & IMAGES ________________________________________ */
/* TOP */
main > article > ul > .top_right_90, 
main > article > ul > .bottom_left_90,
main > article > ul > .top_left_90, 
main > article > ul > .bottom_right_90 {
    background-color: #ab2644;
}

main > article > .song_list > div {
    background-color: #1b1d43;
}

main > article > ul > .image {
    background-image: url("images/whatswrong.jpg");
    background-size: cover;
    background-position: center;
}
/* BOTTOM */
main > article + article > ul > .top_right_90, 
main > article + article > ul > .bottom_left_90,
main > article + article > ul > .top_left_90, 
main > article + article > ul > .bottom_right_90 {
    background-color: #d95234;
}

main > article + article > .song_list > div {
    background-color: #234934;
}

main > article > ul > li:nth-child(5) {
    background-image: url("images/StillFeel.jpg");
    background-size: cover;
    background-position: center;
}

.image_1 {
    justify-content: start;
    align-items: flex-end;
}


/* FOOTER __________________________________________________*/
footer {
    font-family: 'Barlow Condensed';
    margin-top: 100px;
    padding: 10px;

    /* font-size: 150%; */
}

/* MEDIA QUARIES DESKTOP _____________________________________ */
/* ANVÄND CALC */
/* @media (min-width: 1111px) {
    
    header {
        font-size: calc(3 * var(--font_sizes_desktop));
    }
    
    nav {
        font-size: calc(2 * var(--font_sizes_desktop));
    }

    .album_data {
        font-size: calc(2 * var(--font_sizes_desktop));
    }

    .album_data > div:nth-child(2),
    .album_description,
    footer {
        font-size: calc(1.7 * var(--font_sizes_desktop));
    }

    .song_list {
        font-size: calc(1.3 * var(--font_sizes_desktop));
    }
    
    .anecdotes {
        font-size: calc(1.2 * var(--font_sizes_desktop));
    }
  
}  */

/* @media (min-width: 900px) and (max-width: 1111px) { */

    body > div > div {
        font-size: var(--font_sizes_desktop);
    }
    
    header {
        font-size: calc(3 * var(--font_sizes_desktop));
    }
    
    nav {
        font-size: calc(2 * var(--font_sizes_desktop));
    }

    .album_data {
        font-size: calc(2 * var(--font_sizes_desktop));
    }

    .album_data > div:nth-child(2),
    .album_description,
    footer {
        font-size: calc(1.7 * var(--font_sizes_desktop));
    }

    .song_list {
        font-size: calc(1.2 * var(--font_sizes_desktop));
    }
    
    .anecdotes {
        font-size: calc(1.2 * var(--font_sizes_desktop));
    }
/* } */


/* MEDIA QUARIES TABLET _____________________________________ */
@media (max-width: 800px) {

    header {
        text-align: center;
    }

    article {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .cover > img {
        border-radius: 3vw 0 0 0;
    }

    .cover {
        grid-column: 1 / span 2;
        grid-row: 1;

        background-color: #1b1d43;

        border-radius: 3vw 0 0 3vw;
    }

    main > article + article > .cover {
        background-color: #234934;
    }

    .song_list > div {
        margin-left: 10px;
        border-radius: 0 3vw 0 0;
    }
    .song_list > div:nth-child(2) {
        margin-top: 10px;
        border-radius: 0 0 3vw 0;
    }

    .show_hover {
        display: none;
    }

    .show_not_hover:hover {
        opacity: 1;
    }

    .song_list {
        grid-column: 3;
        grid-row: 1;

        display: flex;
        flex-direction: column;
    }

    .song_list > div {
        height: 100%;
    }

    .album_data,
    .album_description {
        grid-column: 1 / span 3;
        grid-row: 2 / span 2;
    }

    /* #now_not_yet > .album_data:before {
        display: none;
    } 
    #now_not_yet > .album_data > div {
        position: relative;
    }
    #now_not_yet > .album_data > div > h1::before {
        background-image: url('images/number-1-icon.png');
        background-size: 100%;
        display: inline-block;
        width: 5vw; 
        height: 5vw;
        content:"";

        position: absolute;
        top: -10px;
        left: -15px;
    } */
    /* FONTS SIZES */    
    header {
        font-size: calc(5.5 * var(--font_sizes_desktop));
    }
    
    nav {
        font-size: calc(3.5 * var(--font_sizes_desktop));
    }

    .album_data {
        font-size: calc(3 * var(--font_sizes_desktop));
    }

    .album_data > div:nth-child(2),
    .album_description,
    footer {
        font-size: calc(2.5 * var(--font_sizes_desktop));
    }

    .song_list {
        font-size: calc(2.3 * var(--font_sizes_desktop));
    }
    
    .anecdotes {
        font-size: calc(1.9 * var(--font_sizes_desktop));
    }
    
    /* ANECDOTES ORDER ________________________________ */
    .anecdotes {
        gap: 5px;
        flex-wrap: wrap;
    } 

    .anecdotes li {
        padding: 4px;
        height: 20vw;
    }
    
    .top_right_90 {
        width: 23%;
        border-radius: 4vh 0 4vh 4vh;
    }
    
    .bottom_left_90 {
        border-radius: 4vh 4vh 4vh 0;
    }
    
    .top_left_90 {
        width: 23%;
        border-radius: 0 4vh 4vh 4vh;
    }
    
    .bottom_right_90 {
        width: 23%;
        border-radius: 4vh 4vh 0 4vh;
    }
    
    .two_wide {
        width: 45%;
    }
    
    .empty {
        width: 23%;
    }
    
    .phone_empty {
        width: 23%;
    }
    
    .tablet_empty {
        display: block;
        width: 23%;
    }

}
/* MEDIA QUARIES PHONE _____________________________________ */ 